@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-black text-white m-0 p-0 overflow-x-hidden;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: black !important;
}

a:hover {
  text-decoration: none !important;
  /* color: black !important; */
}
